body {
    background-color: #fafafa;
  }
.header {
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.container {
    max-width: 1024px;
    margin: auto;
}
.content {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin-top: 15%;
}
.title {
    font-size: 35px;
}